<!doctype html>
<html>
  <head>
    <title><%= "#{current_page.data.title} | mvp1day" || "mvp1day" %></title>
    <meta name="description" content="Le Wagon is Europe&#39;s best coding school for entrepreneurs. Learn to code in 9 weeks with our fullstack coding bootcamp.">

    <meta charset="utf-8" />
    <link rel="icon" href="" type="image/png" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta property="og:title" content="Ton MVP codé en 1 jour" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://mvp1day.com" />
    <meta property="og:image" content="https://mvp1day.com/<%= image_path 'banner.jpg' %>" />
    <meta property="og:description" content="On travaille 10 heures non stop ensemble pour coder ton MVP 😎" />
    <meta property="og:site_name" content="mvp1day" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mvp1day">
    <meta name="twitter:title" content="Coding Bootcamp Le Wagon | Learn to code with Europe&amp;#39;s best coding school">
    <meta name="twitter:description" content="On travaille 10 heures non stop ensemble pour coder ton MVP 😎">
    <meta name="twitter:creator" content="@mvp1day">
    <meta name="twitter:image:src" content="https://mvp1day.com/<%= image_path 'banner.jpg' %>">

    <%= stylesheet_link_tag "all" %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98179997-1', 'auto');
      ga('send', 'pageview');
    </script>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">

    <%= yield %>
    <%= partial "footer" %>

  </body>
</html>
